body {
  margin: 0;
  overflow: hidden;
  background: #222;
background: radial-gradient(circle, rgba(111,64,236,1) 0%, rgba(29,15,82,1) 100%);  min-height: 100vh;
}
$sizeLogo: 450px;
.logo{
  background-color:#390F4E;
  border-radius:50%;
  box-shadow: 0px 0px 20px 8px #34C6F6;
  position:absolute;
  left: 50%;
  margin-left: -.5*$sizeLogo;
  top: 50%;
  margin-top: -.5*$sizeLogo;
  width: $sizeLogo;
  height: $sizeLogo;
  user-select:none;
  cursor:pointer;
}
.mainHeading{
  font-family: 'Audiowide', cursive;

  font-size:60px;
  width:100%;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  position:absolute;
  top:calc(50% - 36px);
  text-shadow: -1px 1px 0 #000,
				 //  2px 2px 0 #000,
				 // 2px -2px 0 #000,
				-1px -1px 0 #000;
}
$size: 350px;
.rings {
  transform-style: preserve-3d;
  position: absolute;
  top:35px;
  left:35px;
  border: 4px solid #BCD8DA;
  border-radius:50%;
  padding: 10px; //min 2px
  background-color:#242343;
  animation: rotate 100s linear infinite;
}

.ring {
  position: absolute;
  top: 8px;
  left: ($size - 34px)/2;
  @for $i from 1 through 45 {
    &:nth-of-type(#{$i}) {
      transform: rotate($i*10deg);
    }
  }
}
.rin{
  width: 50px;
  height: $size;
  border: 2px solid #5588cc;
  border-radius: 50%;
}
.ring:nth-child(odd) .rin{
  border: 2px solid #D4AF37;
}
.border{
  width: $size - 30px;
  height: $size - 30px;
  margin: 7px;
  border: 8px solid #34C6F6;
  border-radius:50%;
}
.rs{
  font-family: 'Roboto', sans-serif;
  position:absolute;
  font-size: 140px;
  color: #EDB82E;
  font-weight: 500;
  top: 0px;
  padding-top: 210px;
  height: calc(100% - 210px);
  left: ($size - 50px)/2;
  background: -webkit-linear-gradient(#eee,#faff00, #b98600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  @for $i from 1 through 40 {
    &:nth-of-type(#{$i}) {
      transform: rotate($i*60deg);
    }
  }
}

.diamond{
  height:15px;
  width:15px;
  position:absolute;
  background-color: #EDB82E;
  transform: rotate(45deg);
}
.diamond:nth-child(2){
  top:150px;
  left:22px;
}
.diamond:nth-child(3){
  top:150px;
  right:22px;
}
.diamond:nth-child(4){
  bottom:150px;
  left:22px;
}
.diamond:nth-child(5){
  bottom:150px;
  right:22px;
}

.subHeading1{
  position: absolute;
  top:80px;
  left:0px;
  width: 100px;
  border-radius: 50%;
  transform: rotate(-60deg);
  .char{
    transform-origin: bottom center;
    height: 225px;
    @for $i from 1 through 40 {
      &:nth-of-type(#{$i}) {
        transform: rotate($i*10deg);
      }
    }
  }
}
.subHeading2{
  position: absolute;
  top: 225px;
  left: 220px;
  width: 00px;
  border-radius: 50%;
  transform: rotate(60deg);
  .char{
    transform-origin: top center;
    padding-top:180px;
    @for $i from 1 through 40 {
      &:nth-of-type(#{$i}) {
        transform: rotate($i*-10deg);
      }
    }
  }
}
  .char{
  color:#fff;
  font: 26px Monaco, MonoSpace;
  
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;

  }

@keyframes rotate {
  100% {
    transform: rotateZ(2turn);
  }
}